/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url("https://images.pexels.com/photos/12064/pexels-photo-12064.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
}