<div class="center">
<table>
    <tr>
        <td>Nome do Grupo</td>
        <td>Selecionado</td>
    </tr>
   <tr *ngFor="let g of grupo;let i=index">
        <td>{{g.nomeGrupo}}</td>
        <td><input type="checkbox" name="checkbox{{i}}" value = {{g.nomeGrupo}} [(ngModel)]="output_checkbox[i]"></td>
    </tr>
    <tr>Nome do Novo Grupo</tr>
    <tr>
    	<input type="text" name="newGroup_name" [(ngModel)]="output_textbox">
    </tr>
    <tr> <button (click) = "packMergeComponents(output_textbox,output_checkbox)">Unir Grupos</button>
    </tr>
    <div *ngFor = "let a of output_checkbox">
	    <h1>{{a}}</h1>
</div>
<h1>{{output_textbox}}</h1>


</table>



</div>
