.pesquisadoresTitle {
    font-size: 1.8em;
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
}

.pesquisadoresList {
    background-color: #FFFFFFBB;
    padding: 10px 20px;
    margin: 20px 5%;
    border: #FFFFFF solid 1px;
}

.pesquisadoresList > h1 {
    text-align: center;
    font-size: 1.5em;
    margin: 5% 0
}

.LinhaPrincipal {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    margin: 10px 0;
    font-size: 1.1em;
}

.LinhaPrincipal > .button > div {
    height: 2px;
    width: 20px;
    background-color: #000000;
    transition: all .5s;
}

.LinhaPrincipal > .button > .b1 {
    transform: rotate(90deg);
    margin-top: 10px;
}

.LinhaPrincipal > .button > .b2 {
    margin-top: -2px;
}

.LinhaPrincipal > .ativo > .b1 {
    transform: rotate(0deg);
}

.LinhaPrincipal > .ativo > .b2 {
    transform: rotate(180deg);
}

.LinhasSecundaria {
    margin: 20px;
    transition: all .5s;
    display: flex;
    flex-direction: column;
}

.LinhasSecundaria > button {
    width: 80px;
    padding: 5px;
}

.LinhasSecundaria > .LinhaSecundaria{
    margin: 0 10px 20px 10px;
    transition: all .5s;
}

.LinhasSecundaria.ativo {
    margin: 0;
    transition: all .5s;
}

.LinhasSecundaria > .ativo {
    opacity: 0;
    height: 0;
    visibility: hidden;
    margin: 0;
    transition: all .5s;
}

.LinhasSecundaria > input {
    align-self: flex-end;
    max-width: 100%;
}

.marcador {
    height: 1px;
    width: 100%;
    background-color: #000000;
}

.addSpace {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px 6%;
    flex-wrap: wrap;
}

.addSpace > input {
    background-color: #FFFFFFBB;
    border: #FFFFFF solid 1px;
    padding: 20px;
    max-width: 40%;
}

.addSpace > .notifcacao {
    background-color: #FFFFFF;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    max-width: 40%;
}

.addSpace > .notifcacao.positiva {
    background-color: #5AAD52;
    transition: all .5s;
}

.addSpace > .notifcacao.negativa {
    background-color: #C33737;
    transition: all .5s;
}

.addSpace > .notifcacao.esconder {
    opacity: 0;
    visibility: hidden;
    margin-left: -50%;
    transition: all .5s;
}

.addSpace > .notifcacao > .button {
    height: 20px;
    margin-left: 15px;
}

.addSpace > .notifcacao > .button > div {
    height: 2px;
    width: 20px;
    background-color: #000000;
    transition: all .5s;
}

.addSpace > .notifcacao > .button > .b1 {
    transform: rotate(45deg);
    margin-top: 10px;
}

.addSpace > .notifcacao > .button > .b2 {
    transform: rotate(-45deg);
    margin-top: -2px;
}

.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000099;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
}

.modal.mostrar {
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
}

.modal > .mensagem {
    background-color: #FAFAFA;
    padding: 20px;
}
.modal > .mensagem > button {
    font-size: 1em;
    margin: 10px  30px 0 0;
    padding: 3px 30px;
}

@media (max-width: 600px){
    .LinhasSecundaria{
        margin: 10px;
    }
    .addSpace {
        flex-wrap: wrap;
        align-content: center;
        flex-direction: column-reverse;
    }

    .addSpace > input {
        max-width: 80%;
        margin-bottom: 15px;
    }
    
    .addSpace > .notifcacao {
        max-width: 80%;
        margin-top: 20px;
    }
}